MODBUS_PORT=COM3
MODBUS_BAUDRATE=9600
MODBUS_PARITY=E
MODBUS_STOPBITS=1
MODBUS_TIMEOUT=2

DB_HOST=localhost
DB_PORT=5432
DB_USER=dixell
DB_PASSWORD=dixell123
DB_NAME=dixell_monitor

SERVER_PORT=8080
READ_INTERVAL=300
